$colorText:aliceblue;
$font:'Bebas Neue';
.publicidad{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
    margin-left: 5%;
    width: auto;
  }
  .publicidad li{
    color: $colorText;
    text-align: center;
    width: 570px;
    margin-top: 30px;
    list-style: none;
    font-size: larger;
  }