$colorText:aliceblue;
$font:'Bebas Neue';
.mainTeatro{
    color: $colorText;
    max-width: 100%;
    .tituloTeatro{
        margin-top: 10px;
        margin-left: 22px;
        color: $colorText;
        font-family: $font;
        letter-spacing: 3px;
        font-size: x-large;
        box-sizing: border-box;
      }
      .caracas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 15px;
        justify-content: space-between;
        align-self: center;
      }
      .caracas li{
        align-self: center;
        width: 400px;
        height: 150px;
        list-style: none;
      
      }
      .mexico{
        @extend .caracas;
      }
      .mexico li{
        width: auto;
        height: 450px;
        list-style: none;
        align-self: center;
      
      }
      .maracaibo{
        @extend .caracas;
      }
      .maracaibo li{
        align-self: center;
        width: 400px;
        height: 150px;
        list-style: none;
      
      }
  }