*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url(./assets/bgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.header{
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 1;
  width: 100%;
}
.contenido{
    color: aliceblue;
}
hr {
    border: 3px solid aliceblue; 
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
}

.titulo{
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
.titulo2{
    color: aliceblue;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    font-style: italic;
}
.menu {
    box-sizing: border-box;
    
  }
  *:after {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
  }
  
.menu{
    width: 100%;
    height: 100%;

  }
  

  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    height: 6rem;
    list-style: none;
    font-size: larger;
    letter-spacing: 3px;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    font-family: 'Bebas Neue';
    text-align: center;
  }
  .menu li:hover{
      color: aliceblue;
      font-size: 2.5rem;
      text-shadow: 1px 1px 6px #fff;
  }
  a{
      color: azure;
  }
  .imagen{
    display: flex;
    justify-content: center;

  }
  .icons {
    box-sizing: border-box;
  }
  *:after {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
  }
  
.icons{
    width: 100%;
    height: 100%;
  }
  
  .icons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 1rem;
    width: auto;
    list-style: none;
    font-size: larger;
}
.icons li{
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    opacity: .4;
}
.icons li:hover{
    opacity: 1;
}
    
.contenidoBio{
  width: 100%;
  height: 100%;
}
.contenido {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 1rem;
  width: auto;
  list-style: none;
  font-size: larger;
}
.tituloBio{
  color: aliceblue;
  font-family: 'Bebas Neue';
}

.mainBio{
  align-content: center;
}
.overflow-auto{
  overflow: auto;
  height: 550px;
}
/* ---BOTON VOLVER--- */
.volver{
  transition: background-position-x 0.9s linear;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-left: 17%;
  font-size: larger;
  transition: background-position-x 0.9s linear;
  opacity: 0.4;
}
.volver:hover{
  color: aliceblue;
  text-shadow: 1px 1px 6px #fff;
  opacity: 1;
}
/* ---HTML ACTING--- */

.tituloAct{
  color: aliceblue;
  font-size: 1.5rem;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  font-style: italic;
  text-align: center;
}
.mainActing{
  align-content: center;
  margin-left: 10%;
  margin-top: 20px;
  margin-right: 10%;
}
.menuActing{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-items: center;
  list-style: none;
}
.menuActing li{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 410px;
    transition: background-position-x 0.9s linear;
    opacity: 0.6;

}
.menuActing li:hover{
  color: aliceblue;
  text-shadow: 1px 1px 6px #fff;
  opacity: 1;
}
/* ---COMIENZO CON HTML TEATRO--- */
.mainTeatro{
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-left: 40px;
  max-width: 100%;
  font-size: medium;
}
.caracas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.caracas li{
  align-self: center;
  width: 400px;
  height: 350px;
  list-style: none;
  align-self: center;

}
.mexico{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.mexico li{
  align-self: center;
  width: auto;
  list-style: none;
  align-self: center;

}
.maracaibo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.maracaibo li{
  align-self: center;
  width: 400px;
  height: 200px;
  list-style: none;
  align-self: center;

}
.tituloTeatro{
  margin-top: 10px;
  margin-left: 22px;
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  font-size: x-large;
  box-sizing: border-box;
}

.publicidad li{
  color: aliceblue;
  font-family: 'Bebas Neue';
  text-align: center;
  letter-spacing: 3px;
  width: 570px;
  margin: 0.4rem;
  list-style: none;
  font-size: larger;
}
.publicidad{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 7%;
}
.registroData{
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-left: 20px;
  margin-top: 17px;
}
fieldset {
  border: 2px solid #CCA383; 
  width: 50%; 
  bottom: #FFE8EF; 
  padding: 3px;
  margin-left: 27%;
}
fieldset legend{ 
  bottom: #CCA383;
  padding: 6px;
  font-weight: bold;
}



/* ---INICIO CON CONTENIDO DE HTML DRAMA--- */

.largometraje{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  box-sizing: border-box;
}
.largometraje li{
  align-self: center;
  width: 450px;
  list-style: none;
}
.cortometrajes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  box-sizing: border-box;
}
.cortometrajes li{
  align-self: center;
  width: 450px;
  height: auto;
  list-style: none;
}
.telenovelas{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  box-sizing: border-box;
}
.telenovelas li{
  align-self: center;
  width: 450px;
  height: auto;
  list-style: none;
}
.contenidoDrama{
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  max-width: 100%;

}
.tituloTeatro2{
  align-self: center;
  color: aliceblue;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-top: 15px;
  margin-left: 25%;
  font-size: x-large;
  box-sizing: border-box;
}
/*Aplicacion de Media Queries*/
/*Estilo Mobile S*/

@media screen and (max-width:573px){
  .largometraje li{
    width: 290px;
  }
  .cortometrajes li{
    width: 290px;
  }
  .telenovelas li{
    width: 290px;
  }
  .FotoMain1{
    width: 400px;
  }
  .FotoMain3{
    width: 400px;
  }
  .catshow{
    width: 150px;
  }
  .mexico li{
    font-size: small;
  }
  .maraibo li{
    font-size: small;
  }
  .caracas li{
    font-size: small;
  }
  .yoactor{
    width: 200px;
  }
  .factory{
    width: 200px;
  }
  .novela{
    width: 200px;
  }
}
  /*Estilo Mobile M*/
@media screen and (max-width:418px){
  .largometraje li{
    width: 100%;
  }
  .cortometrajes li{
    width: 100%;
  }
  .telenovelas li{
    width: 100%;
  }
.FotoMain1{
  width: 250px;
}
.FotoMain2{
  width: 400px;
}
.FotoMain3{
  width: 250px;
}
.catshow{
  width: 150px;
}
.mexico li{
  font-size: small;
}
.maraibo li{
  font-size: small;
}
.caracas li{
  font-size: small;
}
.yoactor{
  width: 250px;
}
.factory{
  width: 250px;
}
.novela{
  width: 250px;
}
}
/*Estilo Mobile tablets*/
@media screen and (max-width:768px){
.titulo{
    color: aliceblue;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
.titulo2{
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    font-style: italic;
}
.menu {

  font-size: medium;

}
.caracas li{
  align-self: center;
  width: 300px;
  height: 250px;
  list-style: circle;
  align-self: center;
  font-size: small;
}
.fotosTeatro{
  width: 150px;
  height: 200px;
}
.mexico li{
  font-size: small;
}
.maracaibo li{
  font-size: small;
}
.tituloTeatro2{
  font-size: medium;
}
.telenovelas li{
  font-size: small;
}
.cortometrajes li{
  font-size: small;
}
.largometraje li{
  font-size: small;
}
.fototeatro{
  width: 220px;

}
.fotodrama{
  width: 220px;

}
.fotopublicidad{
  width: 220px;
}
.menuActing li{
  width: 200px;
  height: 310px;

}
.caracas{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.caracas li{
  align-self: center;
  width: 400px;
  height: auto;
  list-style: circle;
  align-self: center;
  font-size: medium;
}
.maracaibo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.maracaibo li{
  align-self: center;
  width: 400px;
  height: auto;
  list-style: circle;
  align-self: center;
  font-size: medium;
}
.mexico{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
.mexico li{
  align-self: center;
  width: 400px;
  list-style: circle;
  align-self: center;
  font-size: medium;
}
.catshow{
  width: 450px;
  height: 205px;
}
}